<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="net.tcurt.subway" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- There are expected unique constraint violations... so just ignoring these for now. -->
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="OFF"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>